<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.rog//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="capstone.placer.post.PostDetailMapper">

    <select id="getDetail" resultType="capstone.placer.post.PostDetail">
        SELECT *
        FROM placer.PostDetail
        WHERE postId = #{postId}
    </select>
</mapper>
