<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.rog//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="capstone.placer.post.PostMapper">
    <insert id="insert" parameterType="capstone.placer.post.Post" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO placer.`Post` (`writerNickName`, `address`, `like`, `createdAt`, `comment`)
        VALUES(#{writerNickName}, #{address}, #{like}, #{createdAt}, #{comment})
    </insert>

    <insert id="like">
        INSERT INTO placer.`Like` (`postId`, `userId`)
        VALUES (#{postId}, #{userId})
    </insert>

    <delete id="dislike">
        DELETE FROM placer.`Like`
        WHERE postId = #{postId} AND userId = #{userId}
    </delete>

    <select id="get" resultType="capstone.placer.post.Post">
        SELECT *
        FROM placer.Post
        WHERE id = #{postId}
    </select>

    <select id="getByTime" resultType="capstone.placer.post.Post">
        SELECT *
        FROM placer.`Post`
        INNER JOIN placer.`SpatialIndex`
        ON placer.`Post`.`id` = placer.`SpatialIndex`.`postId`
        WHERE placer.`SpatialIndex`.`level` = #{level} AND placer.`SpatialIndex`.`x` = #{x} AND placer.`SpatialIndex`.`y` = #{y}
        ORDER BY `createdAt` DESC
        LIMIT #{pageNumber}, #{pageSize}
    </select>

    <select id="getByPopularity" resultType="capstone.placer.post.Post">
        SELECT *
        FROM placer.`Post`
        INNER JOIN placer.`SpatialIndex`
        ON placer.`Post`.`id` = placer.`SpatialIndex`.`postId`
        WHERE placer.`SpatialIndex`.`level` = #{level} AND placer.`SpatialIndex`.`x` = #{x} AND placer.`SpatialIndex`.`y` = #{y}
        ORDER BY `like` DESC
        LIMIT #{pageNumber}, #{pageSize}
    </select>

    <select id="getCurrentLikeStatus" resultType="boolean">
        SELECT EXISTS(
        SELECT *
        FROM placer.Like
        WHERE postId = #{postId} AND userId = #{userId})
    </select>
</mapper>
