<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.rog//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="capstone.placer.user.UserMapper">
    <select id="get" resultType="capstone.placer.user.User">
        SELECT *
        FROM placer.`User`
        WHERE id = #{id}
    </select>

    <select id="getMatchMailCount" resultType="Integer">
        SELECT count(*)
        FROM placer.`User`
        WHERE mail = #{mail}
    </select>
    <select id="getEncryptedPassword" resultType="java.lang.String">
        SELECT password
        FROM placer.`User`
        WHERE mail = #{mail}
    </select>
    <select id="getByMail" resultType="capstone.placer.user.User">
        SELECT *
        FROM placer.`User`
        WHERE mail = #{mail}
    </select>

    <insert id="insertNewUser" parameterType="capstone.placer.user.User">
        INSERT INTO placer.`User`(nickname, mail, password)
        VALUES (#{nickname}, #{mail}, #{password})
    </insert>
</mapper>